*.[oa]
*~
.deps
.sc-start*
TAGS
tags
/COPYING
/GNUmakefile
/HACKING
/INSTALL
/lib
/maint.mk
/test-suite.log
/tight-scope.mk
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
config.status.lineno
configure
configure.lineno
cyclo-zile.html
dotzile.sample
src_*_vala.stamp*
stamp-h
stamp-h.in
stamp-h1
zile*.tar.gz
zile*.tar.gz.directive*
zile*.tar.gz.sig
/README-release
